<h1 mat-dialog-title>Create a movie collection</h1>
<div mat-dialog-content>
  <p>Title</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.title">
  </mat-form-field>
  <p>description</p>
  <mat-form-field>
      <input matInput [(ngModel)]="data.description">
    </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="{'title':data.title,'description':data.description}" cdkFocusInitial>Ok</button>
</div>