.search-container{
    display: flex;
}
.search-container>form{
    margin: auto;
    margin-top: 5%;
}

.poster{
    width: 40px;
}

.searchButton{
    margin-left: 10px;
}

.addButton{
    margin-right: 20px;
}

.contentRow{
    display: contents;
}